*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml

# Ruby is for using the TravisCI SDK tools
.ruby*

.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
jspm_packages
npm-debug.log
client/dist/*
