/* General Styles */

html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #2E3234;
  color: #e1e1e1;
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #555555;
  margin-top: 50px;
  padding-top: 20px;
  background-color: #252525;
}

.container-fluid > .row{
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Overrides */

.page-header{
  margin: 10px;
}

.page-header h1{
  text-align: center;
}

.btn-primary {
  color: #ffffff;
  background-color: #501226;
  border-color: #501226;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #DC3269;
  border-color: #501226;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #501226;
  border-color: #501226;
}

.btn-primary .badge {
  color: #501226;
  background-color: #ffffff;
}

/* Navbar Styles */

.navbar-default {
  background-color: #005D6A;
  border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: 4px solid white;
    color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent !important;
  color: #ffffff;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 3px;
  z-index: 10;
}

.navbar-default .btn-link {
  color: #ffffff;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-menu a:link {
    color: #595959 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #555555;
  color: white !important;
}

/* Round Button Styles */

.btn-fab {
    border-radius: 50%;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    font-size: 24px;
    height: 56px;
    line-height: normal;
    margin: auto;
    min-width: 56px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 56px;
}

.btn-fab-mini {
    height: 25px;
    min-width: 25px;
    width: 25px;
    font-size: 14px;
}

/* User icon */
.user-icon {
    border-radius: 50%;
    height:15px;
    width: 15px;
    padding: 5px;
    font-size: 8px;
    border: 1px solid #D1D1D1;
    margin-right: 15px;
}

/* Card Styles */

.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #EEEEEE;
    color: #2e3234;
    min-height: 265px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-header{
  border: 1px solid #D1D1D1;
  padding: 0 10px;
  min-height: 35px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.card-details{
    padding-top: 8px;
    font-size: 10px;
}

.card-icon{
    border-radius: 100px;
    color: #f6f6f6;
    padding: 12px 10px;
    font-size: 20px;
    position: absolute;
    top: 25px;
}

.card .card-content{
    padding: 0 10px;
    margin: 25px 0;
    min-height: 250px;
}

.card .card-footer{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #555555;
}

.card .card-footer .flex-item {
    /*width: 300px;*/
    /*height: 60px;*/
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    margin: 0 5px;
}

.code {
    background-color: #902144;
}

.component {
    background-color: #005d6a;
}

.stack {
    background-color: #a999de;
}


/* Modal Styles */

.modal-dialog {
  margin: 280px auto;
}

.modal-body > h4:first-child {
  color: #ffffff;
}

.modal-content {
  background-color: #2e3234;
  color: white;
}

.modal-header {
  background-color: #141414;
  border-bottom: 1px solid #4c4d4d;
}

 .modal-footer {
  border-top: 1px solid #4c4d4d;
}

/* Miscellaneous Styles */

.img24 {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.row-title{
  margin-bottom: 20px;
}

.page-title h1{
  margin-top: 0;
}

/* Media queries */

@media screen and (max-width: 1200px) {
  .card-icon{
    top: 15px;
  }
}
